@import "./quasar.variables.styl"
@import "~quasar-styl"

body
    background-image url( "../assets/bg-pattern-sm.png" )

.q-layout
    .q-footer
    .q-header
    .q-page-container
        margin 0 auto
        max-width 480px

    .q-page-container
        background-color #fff

    .q-page
        padding $space-base
