<template>
    <q-page>
        <div class="q-pa-md">
            <q-chat-message v-for="(value, index) in messageList" :key="index" :name="`<span style='color:${value.messageColor}'>${value.email}</span>`" :text="value.message" :sent="value.sent">
                <template v-slot:avatar>
                    <v-gravatar class="q-message-avatar" :class="{ 'q-message-avatar--received': !value.sent, 'q-message-avatar--sent': value.sent }" :email="value.email" />
                </template>
            </q-chat-message>
        </div>
    </q-page>
</template>

<script>
    export default {
        name: "Home",
        computed: {
            messageList() {
                const messages = {}
                console.log(this.$store.state.user.emailColor)

                let lastEmail = null
                let lastId = null

                for (let id in this.$store.state.messages) {
                    if (lastEmail !== this.$store.state.messages[id].email) {
                        messages[id] = Object.assign({}, this.$store.state.messages[id], {
                            message: [this.$store.state.messages[id].message],
                            sent: this.$store.state.messages[id].email === this.$store.state.user.email,
                            messageColor: this.$store.state.messageColor[this.$store.state.messages[id].email]
                        })

                        lastEmail = this.$store.state.messages[id].email
                        lastId = id
                    } else {
                        messages[lastId].message.push(this.$store.state.messages[id].message)
                    }
                }
                return messages
            }
        },
        created() {
            this.$store.dispatch("updateMessages")
        }
    }
</script>
