<template>
    <q-page>
        <h1 class="text-center">Page not found</h1>

        <div class="text-center">
            <q-btn @click="$router.push({ name: `Home` })" color="orange" label="Return" />
        </div>
    </q-page>
</template>

<style lang="stylus" scoped>
    h1
        font-size 24px
        color var(--q-color-negative)
</style>
