<template>
    <q-page @keypress.enter="register">
        <q-input v-model="$v.email.$model" class="q-mb-md" :error="$v.email.$error" :error-message="emailError" type="email" color="grey-3" label-color="orange" outlined label="Email" no-error-icon>
            <template v-slot:prepend>
                <q-icon name="fas fa-at" color="orange" />
            </template>
        </q-input>

        <q-input v-model="$v.password.$model" class="q-mb-md" :error="$v.password.$error" :error-message="passwordError" :type="passwordType" color="grey-3" label-color="orange" outlined label="Password" no-error-icon>
            <template v-slot:append>
                <q-icon :name="iconType" class="cursor-pointer" @click="isPwd = !isPwd" />
            </template>
        </q-input>

        <q-btn @click="register" class="q-mr-md" color="orange" label="Register" :loading="formPending" :disable="formPending" />
        <q-btn @click="reset" color="orange" label="Reset" flat />
    </q-page>
</template>

<script>
    import { validationMixin } from "vuelidate"
    import { required, email, minLength } from "vuelidate/lib/validators"
    import { showNotifyMixin } from "../mixin"

    export default {
        name: "Registration",
        mixins: [validationMixin, showNotifyMixin],
        data() {
            return {
                email: "",
                password: "",
                passwordMinLength: 6,
                isPwd: true,
                formPending: false
            }
        },
        validations() {
            return {
                email: { required, email },
                password: { required, minLength: minLength(this.passwordMinLength) }
            }
        },
        computed: {
            passwordType() {
                return this.isPwd ? "password" : "text"
            },
            iconType() {
                return this.isPwd ? "fas fa-eye-slash" : "fas fa-eye"
            },
            emailError() {
                if (!this.$v.email.required) return "Email required"
                if (!this.$v.email.email) return "Incorrect email"
                return ""
            },
            passwordError() {
                if (!this.$v.password.required) return "Password required"
                if (!this.$v.password.minLength) return `Password must contain at least ${this.passwordMinLength} symbols`
                return ""
            }
        },
        methods: {
            register() {
                this.$v.$touch()
                if (!this.$v.$invalid) {
                    this.formPending = true
                    this.$store
                        .dispatch("register", {
                            email: this.email,
                            password: this.password
                        })
                        .then(() => {
                            this.$router.push({ name: "Home" })
                        })
                        .catch((error) => {
                            this.showNotify(error, "negative")
                            console.log("register error", error)
                        })
                        .finally(() => {
                            this.formPending = false
                        })
                }
            },
            reset() {
                this.email = ""
                this.password = ""
                this.$v.$reset()
            }
        }
    }
</script>
