<template>
    <q-header class="bg-purple text-white shadow-1">
        <q-tabs>
            <q-route-tab :to="{ name: `Login` }" label="Login" exact />
            <q-route-tab :to="{ name: `Registration` }" label="Registration" exact />
        </q-tabs>
    </q-header>
</template>

<script>
    export default {
        name: "AuthHeader"
    }
</script>
