<template>
    <q-footer class="bg-purple text-white shadow-1" elevated>
        <div class="chat-input-wrapper q-py-sm q-px-md">
            <q-input v-model="message" @keypress.enter="sendMessage" dark standout dense>
                <template v-slot:after>
                    <q-btn @click="sendMessage" icon="fas fa-paper-plane" flat dense />
                </template>
            </q-input>
        </div>
    </q-footer>
</template>

<script>
    export default {
        name: "Footer",
        data() {
            return {
                message: ""
            }
        },
        methods: {
            sendMessage() {
                if (!this.message) return
                this.$store.dispatch("sendMessage", this.message)
                this.message = ""
            }
        }
    }
</script>
