<template>
    <q-header class="bg-purple text-white shadow-1">
        <q-toolbar>
            <q-btn icon="fas fa-bars" flat dense />
            <q-toolbar-title>
                {{ $store.state.user.email }}
            </q-toolbar-title>
            <q-btn @click="logout" icon="fas fa-sign-out-alt" flat dense />
        </q-toolbar>
    </q-header>
</template>

<script>
    export default {
        name: "Header",
        methods: {
            logout() {
                if (!this.user) {
                    this.$store.dispatch("logout").finally(() => {
                        this.$router.push({ name: "Login" })
                    })
                }
            }
        }
    }
</script>
