<template>
    <q-layout view="lHr Lpr lFr">
        <router-view name="header" />
        <router-view name="footer" />
        <q-page-container>
            <router-view />
        </q-page-container>
    </q-layout>
</template>

<script>
    export default {
        name: "LayoutDefault"
    }
</script>
